body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #000;
}

a, a:visited{
  color: #68b33c;
}

a:hover{
  color: #000;
  text-decoration: none;
}

.navbar{
  background-color: #68b33c;
}

.navbar-brand, .navbar-text{
  color: #fff;
}

.navbar-brand:visited{
  color: #fff;
}

.navbar-brand:hover{
  color: #ddd;
}

.log-in-and-out{
  color: #2b2b2b !important;
}

.form-check-input:checked{
  background-color: #68b33c !important;
  border-color: #68b33c !important;
}


