body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #000;
}

a, a:visited{
  color: #c00c3ac;
}

a:hover{
  color: #000;
  text-decoration: none;
}

.navbar{
  background-color: #009987;
}

.navbar-brand, .navbar-text{
  color: #fff;
}

.navbar-brand:visited{
  color: #fff;
}

.navbar-brand:hover{
  color: #ddd;
}

.log-in-and-out{
  color: #ffdb16 !important;
}