body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  background:url(../img/reservation_bg_light.png);
}

a{
  color: #008858;
}

a:hover{
  color: #000;
  text-decoration: none;
}

a.no-decoration{
  text-decoration: none;
}

.navbar{
  background-color: #006A3A;
  border-bottom: 1px solid #000000;
}

.navbar-brand{
  color: #fff;
}

.navbar-brand:hover{
  color: #ddd;
}

.log-in-and-out{
  color: #c6ac6a !important;
}

.catalog-item, .placed-order, .item-qty{
  min-height: 100%;
}

.catalog-item img{
  max-width:128px;
  width:auto;
}

input.item-quantity{
  background-color: #fff;
  min-width: 70px;
  max-width: 70px;
  text-align: center;
}

input.item-price, input.item-options-select-price{
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

.add-item, .input-group button{
  cursor: pointer;
}

.btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none !important;
}

.btn-success
{
  background-color: #006A3A;
  border-color: #006A3A;
}

.btn-danger {
  background-color: #990101;
  border-color: #990101;
}

.btn-light{
  background-color: #dfdfdf;
}

.input-group button
{
  background: none;
  font-weight: bold;
  user-select: none;
}

.order-total{
  background-color: #f8f9fa !important;
  border-top: 1px solid rgba(0,0,0,.125);
}

.item-quantity, .item-quantity:disabled{
  max-width: 10px; 
  background: none;
}

.given.btn-outline-success:before{
  content: '\2713';
}

.given.btn-outline-danger:before, .delete-item:before, .delete-option:before, .delete-select:before, #add-competition.btn-danger:before, #add-administrator.btn-danger:before{
  content: '\2717';
}

.order-is-paid.btn-outline-success:before{
  content: 'Payé';
}

.order-is-paid.btn-outline-danger:before{
  content: 'À payer';
}

.add-block{
  cursor: pointer;
  user-select: none;
}

.search-checkbox{
  color: #c6ac6a !important;
  accent-color: currentcolor;
}

.user-comment{
  color: #dc3545;
}


.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  border-width: 0;
  transition: all .2s;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26,54,126,0.125);
  border-radius: .25rem;
}

.card-body{
  background: none;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.timeline-element{
    position: relative;
    margin: 0 0 1rem;
}

.timeline-element-icon{
    position: absolute;
    top: 0;
    left: 30px;
}

.timeline-element-content:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-element-icon .badge-dot-xl{
    box-shadow: 0 0 0 5px #fff;
}



.badge:empty{
    display: none;
}

.badge-dot-xl::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: .25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    background: #fff;
}

.badge-dot-xl{
  width: 18px;
  height: 18px;
  position: relative;
}

.badge-dot.open{
  background-color: #006A3A !important;
}

.badge-dot.pending{
  background-color: #ffc107 !important;
}

.badge-dot.closed{
  background-color: #dc3545 !important;
}

.timeline-element-content {
    position: relative;
    margin-left: 60px;
}



::selection {
    background: #006A3A;
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: #006A3A;
    color: white;
    text-shadow: none;
}

.table td.fit, 
.table th.fit {
   white-space: nowrap;
   width: 1%;
}

.table td.img{
  width: 128px;
}

#information-competition, #catalog-tools, #block-list .block {
  padding: 0em 0em 0.5em 0em;
  position: sticky;
}

.block input::placeholder{
  color: #999;
}

input:focus,input:active, select:active, select:focus, textarea:focus{
  border-color: #006A3A !important;
  outline: none !important;
  box-shadow: none !important;
}

.block-title{
  color: #fff;
  background-color: #c6ac6a;
  border-bottom: 1px solid #9C854C;
  border-left: 1px solid #9C854C;
}