body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #000;
}

a{
  color: #dc3545;
}

a:hover{
  color: #444;
  text-decoration: none;
}

.navbar{
  background-color: #ffc107;
  color: #000;
}

.navbar-brand{
  color: #000;
}

.navbar-brand:hover{
  color: #444;
}

.log-in-and-out{
  color: #86000d !important;
}

.register-to{
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.register-to .event-checkbox, .done-checkbox{
  color: #ffc107;
  accent-color: currentcolor;
}

.register-to .card-footer{
  background: none;
  border: none;
}

.register-to .btn-register{
   background-color: #e3fce4; 
}

#status-bar-container{
  display: none;
}